//   $$$$$$\   $$$$$$\  $$\       $$$$$$\  $$$$$$$\   $$$$$$\  
//  $$  __$$\ $$  __$$\ $$ |     $$  __$$\ $$  __$$\ $$  __$$\ 
//  $$ /  \__|$$ /  $$ |$$ |     $$ /  $$ |$$ |  $$ |$$ /  \__|
//  $$ |      $$ |  $$ |$$ |     $$ |  $$ |$$$$$$$  |\$$$$$$\  
//  $$ |      $$ |  $$ |$$ |     $$ |  $$ |$$  __$$<  \____$$\ 
//  $$ |  $$\ $$ |  $$ |$$ |     $$ |  $$ |$$ |  $$ |$$\   $$ |
//  \$$$$$$  | $$$$$$  |$$$$$$$$\ $$$$$$  |$$ |  $$ |\$$$$$$  |
//   \______/  \______/ \________|\______/ \__|  \__| \______/                                                      

$dark-green: #5C6F63;
$mid-green: #99ABA0;
$light-green: #BCD2C5;
$very-light-green: #F6FBF0;

$dark-brown: #A06A46;
$light-brown: #E3D0C2;

$light-font: #515151;
